	html{
        height: 100%;
    }
    img{
    	position: absolute;
    	margin-left: auto;
    	margin-right: auto;
    	left: 0; 
  		right: 0;
    }
    button{  
		border: none;
		font-family: Century;
		color: black;
		text-align: center;
		text-decoration: none;
		display: inline-block;
		font-size: 16px;
		margin: 4px 2px;
		cursor: pointer;
    }
    body{
        background-image: url("/img/hogwarts.jpg");
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    h2{
    	font-size: 50px;
        font-family: Century;
        text-align: center;
        color: white;
        margin-top: 120px;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }
    .container{
        width: 350px;
        border: solid black 4px;
        background-color: rgba(160, 160, 160, 0.85);
        position: relative;
        transform: translateY(50%);
    }
    .square{
        height: 150px;
        width: 150px;
        border: solid black 1px;
        box-shadow: 5px 5px 5px #404040;
    }
    #red{
        opacity: .5;
        background: url(/img/Gryf.png) no-repeat center;
        background-color: red;
        margin: 10px;
    }
    #blue{
        opacity: .5;
        background: url(/img/Raven.png) no-repeat center;
        background-color: blue;
        margin: 10px;
    }
    #green{
        opacity: .5;
        background: url(/img/Slyt.png) no-repeat center;
        background-color: green;
        margin: 10px;
    }
    #yellow{
        opacity: .5;
        background: url(/img/Huff.png) no-repeat center;
        background-color: yellow;
        margin: 10px;
    }
    #button{
        text-align: center;
        margin-top: 135px;
        position: absolute;
        top: 400px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }